html {
	height: 100%;
	width: 100%;
}

.college-card {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #f9f9f9;
}


.college-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.college-info h5 {
  font-size: 20px;
  margin-bottom: 10px;
}

.college-info p {
  margin: 5px 0;
}

.college-info a {
  text-decoration: none;
  color: #007bff;
}
